html {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-size: 12px;
	line-height: 15px;
	font-weight: 400;
	background-color: #F5F5F5;
	color: $second;
}

* {
	box-sizing: border-box;
}

h1 {
	margin: 0;
	font-size: 32px;
	line-height: 39px;
	font-weight: 700;
	color: $primary;
}

h2 {
	margin: 0;
	font-size: 15px;
	line-height: 18px;
	font-weight: 600;
	color: $primary;
}

h3 {
	margin: 0;
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
	color: $primary;
}

ul {
	padding: 0;
}
